@import url(null.css);
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


.wrapper {
	min-height: 100%;
	overflow: hidden;
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 30px;
}

.header__link {
    font-family: "Train One", cursive;
    font-size: 36px;
    color: rgb(236, 29, 174);
    line-height: 1.5;
    background: url(../img/02.png) 0 13px/ 50px no-repeat, linear-gradient(
        50deg,
        hsl(0deg 0% 100%) 0%,
        hsl(154deg 81% 94%) 10%,
        hsl(155deg 80% 88%) 20%,
        hsl(156deg 79% 81%) 29%,
        hsl(158deg 79% 73%) 39%,
        hsl(160deg 80% 64%) 49%,
        hsl(181deg 100% 45%) 59%,
        hsl(191deg 100% 50%) 69%,
        hsl(198deg 100% 50%) 79%,
        hsl(209deg 100% 50%) 89%,
        hsl(291deg 100% 50%) 100%), url(../img/01.png) 0 0 / cover no-repeat;
        padding: 10px 0 10px 70px;
        margin: 0 0 30px 0;
}
.div-headrt__list{
    font-family: 'Marck Script', cursive;
    background: url(../img/ramka1.png) 0 0 repeat-y, url(../img/ramka1.png) 100% 0 repeat-y,  url(../img/ramka2.png) 0 0 repeat-x, url(../img/ramka2.png) 0 100% repeat-x, hsla(350, 100%, 88%, 0.4);
    padding: 40px;
    margin: 0 0 20px 0;
}
/* .header__list {
    font-size: 28px;
} */
.item__list{
    font-size: 28px;
    background: url(../img/icons/01.png) 0 5px / 20px no-repeat;
    padding: 0 0 0 25px;
    margin: 0 0 5px 0;
}
.item__sub-list{
    font-size: 28px;
    background: url(../img/icons/02.png) 0 5px / 20px no-repeat;
    padding: 0 0 0 25px;
    margin: 0 0 5px 0;
} 
.last {
    margin: 0;
}
.content {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    /* background: rgba(255, 255, 0, 0.1); */
    margin: 0 0 30px 0;
}
.title {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    line-height: 2;
    margin: 0 0 15px 0;
}
.text {
    line-height: 1.3;
}
.skazki {
    background: url(../img/03.png);
    border-radius: 26% 74% 32% 68% / 33% 61% 39% 67% ;
    margin: 0 0 20px 0;
}

.zajka {
max-width: 600px;
margin: 0 auto 40px;
}

.zajka__text {
    font-style: italic;
    max-width: 400px;
    max-height: 300px;
    overflow: auto;
    background: url(../img/2.png) 0 0  / cover no-repeat fixed;
    padding: 15px;
}
.drakon {
    max-width: 500px;
    max-height: 300px;
    overflow: auto;
    border-radius: 10px;
    background: url(../img/04.png) 0 0/ contain no-repeat local, violet;
    padding: 0 0 0 10px;
    margin: 0 0 30px 0;
}

.petrushka {
max-width: 800px;
margin: 0;
background: url(../img/phon.png) center / cover no-repeat;
}
.petrushka__text {
    padding: 10px;
    background: url(../img/10.png) center / 50px 100px no-repeat, url(../img/07.png) 10px 20px / auto no-repeat, url(../img/08.png) 90% 80% / auto no-repeat, rgb(0, 225, 255, 0.2);
}
.bottom{
    margin: 0 0 100px 0;
    background: url(../img/05.png) 0 0 / 150px space;
}
.contacts {
    font-weight: 700;
    font-style: italic;
    font-size: 25px;
    max-width: 400px;
    background: url(../img/10.png) 0 0 / 50px round;
}
.bb {
    padding: 20px;
}
.button {
    border: 3px solid black;
    box-shadow: 2px 2px 10px 3px rgb(0, 0, 0);
    border-radius: 20px;
    background: linear-gradient(
        50deg,
        hsl(0deg 0% 100%) 0%,
        hsl(53deg 100% 87%) 4%,
        hsl(54deg 100% 73%) 10%,
        hsl(55deg 100% 50%) 15%,
        hsl(54deg 100% 73%) 22%,
        hsl(53deg 100% 87%) 31%,
        hsl(0deg 0% 100%) 42%,
        hsl(3deg 100% 93%) 59%,
        hsl(1deg 100% 85%) 78%,
        hsl(0deg 91% 77%) 88%,
        hsl(338deg 100% 69%) 94%,
        hsl(317deg 100% 57%) 98%,
        hsl(291deg 100% 50%) 100%);
    padding: 7px;
    margin: 0 0 140px 0;
}


/* =====================   ВЕРСТКА МАКЕТА =========================== */

/* =====================    МАКЕТ №1   =========================== */



.maket{
    outline: 10px dashed rgb(236, 29, 174);
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    color: white;
    
    background: linear-gradient(
        45deg,
        hsl(240deg 100% 20%) 0%,
        hsl(289deg 100% 21%) 11%,
        hsl(315deg 100% 27%) 22%,
        hsl(329deg 100% 36%) 33%,
        hsl(337deg 100% 43%) 44%,
        hsl(357deg 91% 59%) 56%,
        hsl(17deg 100% 59%) 67%,
        hsl(34deg 100% 53%) 78%,
        hsl(45deg 100% 50%) 89%,
        hsl(55deg 100% 50%) 100%);
        border-radius: 40px;
        padding: 20px 0;
        margin: 0 10px 40px 10px;
}
.maket1__container{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    max-width: 810px;
    margin: 0 auto 100px;
}

.maket1-title {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: #1E212C;
    margin: 0 0 26px 0;
}
.info{
    font-size: 16px;
    line-height: 1.6;
    align-items: center;
    color: #787A80;
    margin: 0 0 40px 0;
}
.date {
    display: inline-block;
    background: url(../img/icons/01.svg) 0 5px no-repeat;
    padding:  0 0 0 24px;
    margin:  0 24px 0 0;
}
.time {
    display: inline-block;
    background: url(../img/icons/02.svg) 0 5px no-repeat;
    padding: 0 0 0 24px;
}

.maket1__image{
    margin: 0 0 60px 0;
}

.text-bold {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: #1E212C;
}
.text-bold_1 {
    margin: 0 0 24px 0;
}
.maket1__text {
    line-height: 1.6;
    color: #424551;
} 
.maket1__text_1 {
    margin: 0 0 48px 0;
}
.paragraph1 {
    padding:  0 0 26px 0;
}
.text-bold_2 {
    background: url(../img/icons/03.png) 0 0 no-repeat;
    padding: 0 0 0 58px;
    margin: 0 0 48px 0;
}
.paragraph_2 {
    margin: 0 0 24px 0;
}
.maket1__list{
    margin:  0 0 24px 0;
}
.maket1__item {
    background: url(../img/icons/04.png) 0 5px no-repeat;
    padding: 0 0 4px 32px;
}
.last1 {
    padding: 0 0 0 32px;
}


/* =====================    МАКЕТ №2   =========================== */
.maket2__container {
    font-family: "lato", sans-serif;
    font-weight: 400;
    max-width: 390px;
    margin: 0 auto;
}
.title__top{
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
    margin: 0 0 8px 0;
}
.title__bottom{
    font-weight: 900;
    font-size: 46px;
    line-height: 1.6;
    color: #1E212C;
    margin:  0 0 40px 0;
}
.maket2__list {
    margin: 0 0 22px 0;
}
.maket2__item {
    line-height: 1.6;
    color: #424551;
    background: url(../img/icons/04.png) 0 5px no-repeat;
    padding:  0 0 0 32px;
    margin: 0 0 12px 0;
}
.last2 {
    margin: 0;
}
.maket2__button{
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 3.14;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    padding: 0 32px;
    background: #FB4F20;
    border-radius: 4px;
    margin: 0 0 200px 0;

}
